@model IEnumerable<VeterinariaWoofWoof.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nick_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perfil.Nombre_perfil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nick_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perfil.Nombre_perfil)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
